@import "tailwindcss";


@theme inline {
  --color-darkbg: #212529;
  --color-lessdarkbg: #343A40;
}

html {
  font-family: "Courier Prime", monospace;
  background-color: #212529;
  color: white;
}

html,
body {
  overflow-x: clip;
  
  /* Prevent horizontal scrolling */
  /* overflow-y: auto; */
  /* Ensure vertical scrolling when necessary */
  height: auto;
  width: 100%;
}